body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: inline-flex;
  flex-direction: row;

}

.header__phone-icon {
  margin-top: 25px;
  margin-left: 100px;
}

.header__map-icon {
  margin-top: 25px;
  margin-left: 10px;
}

.header__profile-icon {
  margin-top: 25px;
  margin-left: 10px;
}


.header__shopping-cart-button {
  margin-top: 18px;
  margin-left: 10px;
}

.header__text-next-to-icon {
  margin-top: 15px;
  margin-left: 5px;
}

.footer__ads-text {
  margin-top: 11px;
  margin-left: 5px;
}

.footer__navbar {
  left:0;
  bottom:0;
  right:0;
  display: inline-flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
}

.footer__contact-info {
  left:0;
  bottom:0;
  right:0;
  display: inline-flex;
  flex-direction: row;
  height: fit-content;
  text-align: left;
}

.footer {
  left:0;
  bottom:0;
  right:0;
}

.footer__icon-zalo {
  margin-top: 15px;
  margin-left: 15px
}

.footer__icon-instagram {
  margin-top: 15px;
  margin-left: 15px
}

.footer__icon-facebook {
  margin-top: 15px;
  margin-left: 100px
}

.footer__icon-email {
  margin-top: 15px;
  margin-left: 400px
}


.header__search-bar {
  margin-top: 17px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer__search-bar {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 15px;
  width: 350px;
}

.header__logo {
  width: 200px;

}

.footer__contact-info-logo {
  width: 200px;
}

.boldText {
  font-weight: bold;
}

.footer__img-methods-of-payment {
  width: 300px;
}

.footer__contact-info_other-cols {
  margin-left: 55px;
  margin-top: 30px;
}

.footer__contact-info_first-col {
  margin-top: 25px;
}

.footer__copyright {
  text-align: left;
  margin-left: 81px;
}

.home {
  padding-bottom: 50px;
  display: inline-flex;
  flex-direction: row;
}

.banner__slider-image {
  /* transition: 2s; */
}

.banner__main-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.slider {
  overflow: hidden;
  width: 900px;
}

.slides {
  display: flex;
  position: relative;
  margin-top: 10px;
}

.banner__left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.banner__right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}


.slider-bottom-image {
  width: 285px;
  margin-left: 15px;
  margin-top: 30px;
}

.banner__top {
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

.banner__top_options {
  display: inline-block;
  /* align-items: center; */
  position: relative;
}

.banner__top_imgs {
  width: 48px;
  display: inline-block;
  position: absolute;
  /* align-items: center; */
}

.banner__top_options-text {
  display: inline-block;
  margin-left: 50px;
  margin-top: 5px;
}

.banner__top_options-text:link { 
  text-decoration: none; 
  color: black;
}

.banner__top_options-text:visited {
  color: black;
}

.banner__top_options-text:hover {
  color: red;
}

.banner__top_options-text:active {
  color: red;
}



.slides input {
  display: none;
}

.banner__main-slide {
  transition: 6s;
}

.banner__main-slide img {
  width: 900px;
}

.banner_navigation-manual {
  position: absolute;
  width: 900px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid;
  padding: 5px;
  border-radius: 10px;
  background-color: gray;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first_img {
  margin-left: 0;
}

#radio2:checked ~ .first_img {
  margin-left: -100%;
}

.banner_navigation-auto {
  position: absolute;
  display: flex;
  width: 900px;
  justify-content: center;
  margin-top: 294px;
}

.banner_navigation-auto div {
  border: 2px solid;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.banner_navigation-auto div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .banner_navigation-auto .auto-btn1 {
  background: white;
}

#radio2:checked ~ .banner_navigation-auto .auto-btn2 {
  background: white;
}

.slider-bottom-image:hover {
  transform: scale(0.9);
  transition: 1s;
}

.home-top {
  /* display: flex; 
  flex-direction: column; */
}

.list-items {
  display:flex; 
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}

.list-promotions {
  display:flex; 
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.item {
  margin-left: 30px;
}

.item__text-size{
  font-size: 14px;
}

.align-item:hover {
  color: red;
}



@keyframes itemAnimation {
  0% {transform: scale(1);}
  20% {
    transform: scale(0.9) rotate(10deg);
  }
  40% {
    transform: scale(1.1) rotate(-10deg);
  }  
  60% {
    transform: scale(1.1) rotate(10deg);
  }  
  80% {
    transform: scale(1.1) rotate(-10deg);
  }  
  100% {transform: scale(1);}    

}

.item__image:hover {
  animation-name: itemAnimation;
  animation-duration: 1s;
}

.promotions {
  display:flex; 
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  border-style: ridge ridge ridge none;
  border-radius: 5px;
  margin-left: 20px;
  width: 300px;
}

.promotions__img {
  height: 120px;
}

.promotions__bottom {
  display:flex; 
  flex-direction: row;
  /* justify-content: center;  */
  align-items: center;
  margin-top: 10px;
}

.promotions__button {
  background-color: #ff545c;
  border-radius: 15px;
  width: 70px;
  height: 28px;
  color:white;
  border-color: #ff545c;
}

.promotions__bottom_text {
  margin-left: 40px;
  font-size: 12px;
  color: blue
}

.promotions__text-size {
  font-size: 12px;
}

.promotions__right-side {
  text-align: left;
  margin-left: 10px;
  margin-right: 5px;
}

.promotions__code-text {
  color: #ff545c;
  font-weight: bold;
}

.list-discount-items {
  background-color: #FED100;
  width: 1265px;
  margin-left: 90px;
  margin-top: 35px;
}

.list-discount-items__bottom {
  display:flex; 
  flex-direction: row;
  justify-content: center; 
  align-items: center;

}

.discount-item {
  margin-left: 8px;
  height: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.discount-item p {
  width: 220px;
}

.discount-item__white-block {
  height: 220px;
  width: 220px;
  background-color: white;
  position: absolute;
}

.discount-item__img-frame {
  width: 220px;
  position: absolute;
  z-index: 2;
}

.discount-item__img {
  transform: scale(0.8) translateY(10px) ;
  width: 220px;
  z-index: 1;
}

.list-discount-items__top_text {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.clock {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 15px;
  /* border: 2px solid silver; */
  /* background-color: black; */
}

.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.clock section p {
}

.clock small {
  color: white;
  
}

.clock span {
  color: black;
  font-weight: bold;
  font-size: xx-large;
}

.list-discount-items__top {
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.timer-container {
  margin-left: 10px;
  margin-top: 10px;
}

.list-discount-items__top_img {
  margin-left: 25px;
  height: 20px;

}

.dicount-item__numbers-sold {
  background-color: #ff444c;
  border-radius: 10px;
  color: white;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 200px;
}

.dicount-item__numbers-sold small {
  margin-left: 3px;
}