body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: inline-flex;
  flex-direction: row;

}

.header__phone-icon {
  margin-top: 25px;
  margin-left: 60px;
}

.header__map-icon {
  margin-top: 25px;
  margin-left: 10px;
}

.header__profile-icon {
  margin-top: 25px;
  margin-left: 10px;
}


.header__shopping-cart-button {
  margin-top: 18px;
  margin-left: 10px;
}

.header__text-next-to-icon {
  margin-top: 15px;
  margin-left: 5px;
}

.footer__ads-text {
  margin-top: 11px;
  margin-left: 5px;
}

.footer__navbar {
  left:0;
  bottom:0;
  right:0;
  display: inline-flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
}

.footer__contact-info {
  left:0;
  bottom:0;
  right:0;
  display: inline-flex;
  flex-direction: row;
  height: fit-content;
  text-align: left;
}

.footer {
  position: fixed;
  left:0;
  bottom:0;
  right:0;
}

.footer__icon-zalo {
  margin-top: 15px;
  margin-left: 15px
}

.footer__icon-instagram {
  margin-top: 15px;
  margin-left: 15px
}

.footer__icon-facebook {
  margin-top: 15px;
  margin-left: 100px
}

.footer__icon-email {
  margin-top: 15px;
  margin-left: 400px
}


.header__search-bar {
  margin-top: 17px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer__search-bar {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 15px;
  width: 350px;
}

.header__logo {
  width: 200px;

}

.footer__contact-info-logo {
  width: 200px;
}

.boldText {
  font-weight: bold;
}

.footer__img-methods-of-payment {
  width: 300px;
}

.footer__contact-info_other-cols {
  margin-left: 55px;
  margin-top: 30px;
}

.footer__contact-info_first-col {
  margin-top: 25px;
}

.footer__copyright {
  text-align: left;
  margin-left: 81px;
}